

main{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

figure{
	position: relative;
/*	height: 300px;*/
	margin-right: 10px;
	margin-left: 10px;
}

figcaption{
	text-align: center;
	position: absolute;
	width: 100%;
	bottom: -30px;
}

figure:hover figcaption{
	visibility: visible;
}

.image_1{
	overflow: hidden;
}

.image_1 img{
	transition: 0.8s;
}

.image_1 img:hover{
  	transform: scale(1.15) rotate(5deg);
}

.image_2{
	overflow: hidden;
}

.image_2 img{
	transition: 0.8s;
	filter: blur(5px);
}

.image_2 img:hover{
  	transform: scale(1.15);
  	filter: blur(0px);
}

.image_3{
	overflow: hidden;
}

.image_3 img{
	transition: 0.8s;
	filter: grayscale(100%);
}

.image_3 img:hover{
  	transform: scale(1.15);
  	filter: grayscale(0%);
}