.brooks {
  position: relative;
  font-family: 'Sanchez', serif;
  font-size: 2.4em;
  line-height: 1.5em;
  font-style: italic;
}
.brooks:before {
  content: '\201C';
  position: absolute;
  top: 0.25em;
  left: -0.15em;
  color: #e7e6e4;
  font-size: 6em;
  z-index: -1;
}